<head>
  <style>
    .container1, .container2{
      float: inherit;
	    display: inline-block;
	    background-color: lightblue;
	    color: black;
	    width: 49%;
	    height: 500px%;
	    border: 1px solid black;
	    text-align: left;
	    margin: 2px;
    }
    a:hover{
    	text-decoration: none;
    }
	</style>
</head>
<body>
  <div class='center jumbotron'>
    <h1>Welcome to the Alfa Blog. Here you'll be able to read great stories for anyone in the world<h1>
  	<h2><%= link_to 'Sign up now',"#", class: "btn btn-primary btn-lg btn-xlarge"%></h2>
	<h2>To see the post, go <%= link_to 'here', articles_path %></h2>
  </div>
  <div class='container1'>
		<h2>Escreva sobre o que você quiser</h2>
		<p>Aqui não há restrições sobre os assuntos a serem tratados.*</p>
	</div>
	<div class='container2'>
		<h2>Leia os artigos dos mais variados autores</h2>
		<p>Aqui todas as vozes são ouvidas e respeitadas</p>
	</div>
</body>