<div class="container">
  <footer class="footer">
    <small>Copyright &copy; <a href="http://google.com">Rafael Prallon</a>. 
           Made with <a href="http://rubyonrails.org"> Ruby on Rails</a> and 
           <a href="http://getbootstrap.com">Bootstrap 3</a>.</small>
    <small> Respeite as leis locais.</small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>